<div class="container my-5 bg-white ">
<table class="table border">
  <thead class="bg-info text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Avatar</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
       {{#each user}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.username}}</td>
          <td><img src="{{this.avatar}}" alt="" height="50px" width="50px"></td>
          <td>{{this.email}}</td>
          {{!-- <td>{{this.password}}</td> --}}
          <td>
            <button type="button" class="btn btn-danger" confirm("Press a button!\nEither OK or Cancel.")>DELETE</button>
          </td>
        </tr>
       {{/each}}
  </tbody>
</table>

</div>